.menuContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 6;
}

.menuItens1, .menuItens2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menuItens2{
    margin-bottom: 30px;
}

.menuLink{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuLink a{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 50px;
    color: white;
    text-decoration: none;
    width: 100%;
    transition: .3s background-color linear;
}

.menuLink a:hover{
    background-color: #1a45b8;
}