.layoutContainer{
    display: flex;
    height: 100vh;
}



.sidebarContainer{
    background-color: #191919;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.sidebarContainer .logoContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.sidebarContainer .logoContainer img{
    width: 58%;
}



.mainContext{
    flex: 5;
    display: flex;
    flex-direction: column;

}

.mainContext .contentContainer{
    flex: 6;
}
