.layoutContainer{
    display: flex;
    height: 100vh;
}

.sidebarContainer{
    background-color: #191919;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.sidebarContainer .logoContainer{
    flex: 1;
}

.sidebarContainer .menuContainer{
    flex: 6;
}



.mainContext{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.mainContext .headerContainer{
    flex: 1;
    background: linear-gradient(to right, #050518, #2320ef);
    background: #1a45b8;
}

.mainContext .contentContainer{
    flex: 6;
}
