.botaoContainer{
  background-color: #1a45b8;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  transition: .2s ease-in-out background;
}

.botaoContainer:hover{
  background-color: #191919;;
}