.cardContainer{
    border: #80808047 1px solid;
    border-radius: 16px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardContainer h4{
    font-weight: 500;
    font-size: 18px;
}